<form>
  <div class="jumbotron">
    <div class="container">
      <div class="form-row">
        <div class="form-group">
          <label for="nome">Nome</label>
          <textarea class="form-control rounded-0" ng-model="agenda.nome" rows="4"></textarea>
        </div>
        <div class="form-group col-md-6">
          <label for="nome">Data inicio</label>
          <input type="date" ng-model="agenda.dataInicio" class="form-control" placeholder="dd/MM/yyyy">
        </div>
        <div class="form-group col-md-6">
          <label for="nome">Data fim</label>
          <input type="date" ng-model="agenda.dataFim" class="form-control" placeholder="dd/MM/yyyy">
        </div>
        <div class="form-group col-md-6">
          <div 
            uib-timepicker
            ng-model="agenda.horaInicio"
            hour-step="1"
            minute-step="15"
            show-meridian="true"></div>
        </div>
        <div class="form-group col-md-6">
          <div 
            uib-timepicker
            ng-model="agenda.horaFim"
            hour-step="1"
            minute-step="15"
            show-meridian="true"></div>
          </div>
        </div>
        <div class="form-row tamanho-div">
          <div class="form-group col-md-6">
            <button class="btn btn-primary pull-right" ng-click="c.adicionarEvento(agenda)">Adicionar</button>
          </div>
          <div class="form-group col-md-6">
            <a class="btn btn-primary pull-right" href="#/">Voltar</a>
          </div>
      </div>
    </div>
  </div>
</form>